# /etc/network/interfaces.d/{{ ansible_interface }}
auto {{ ansible_interface }}
iface {{ ansible_interface }} inet static
    address {{ ansible_address }}
    netmask {{ ansible_netmask }}
{% if ansible_gateway is defined %}
    gateway {{ ansible_gateway }}
{% endif %}
{% if ansible_vlan is defined %}
    vlan-raw-device {{ ansible_vlan_raw_device }}
    vlan-id {{ ansible_vlan_id }}
{% endif %}
